# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
data/
test/
temp/
help.md

# IDEs
.idea/
.vscode/

# Secrets
.env
*.env

# Build artifacts
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage